<?xml version="1.0"?> 

<model>
	
	<name>lmev_light_bulb</name>
	<version>1.0</version>
	<sdf version="1.6">model.sdf</sdf>
	
	<author>
		<name>Steven Palma Morera</name>
		<email>imstevenpm.work@gmail.com</email>
	</author>
	
	<description>
		A light bulb simulated as a white sphere for the light searching algorithm. The idea is to combine it with a point light.
	</description>
	
</model>
