<?xml version="1.0"?>

<model>

  <name>Lego Mindstorms EV3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Steven Palma Morera</name>
    <email>imstevenpm.work@gmail.com</email>
  </author>

  <description>
    A complete sdf model of the Lego Mindstorms Education EV3 Core Set 45544
  </description>

</model>
