<?xml version="1.0"?> 

<model>

	<name>lmev_track3</name>
	<version>1.0</version>
	<sdf version="1.6">model.sdf</sdf>
	
	<author>
		<name>Steven Palma Morera</name>
		<email>imstevenpm.work@gmail.com</email>
	</author>
	
	<description>
		A sample track to test the light searching algorithm.
	</description>
</model>
